* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 37);
    color: rgb(250, 250, 250);
    font-family: 'poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(0, 0, 90);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 90, 0.8)!important;
	-webkit-transition: background-color 1000ms linear;
	-ms-transition: background-color 1000ms linear;
	transition: background-color 1000ms linear;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 25px;
}

.left {
    font-size: 3rem;
    animation: Talha 3s ease-in-out 1s infinite;
}

a {
    text-decoration: none;
    color: beige;
}
a:hover {
    color: lavender;
    font-size: larger;
}

/* Animation */
@keyframes Talha {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: whitesmoke;}
}